{% load static %}
{% load bootstrap4 %}
<html>
	<head>
		{% bootstrap_css %}
		{% bootstrap_javascript jquery="slim" %}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'css/bank_account_data_list.css'%}">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light">
			<a href="/" class="navbar-brand">PB System</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav mr-auto">
					<!-- 左にメニューを出すとき-->
					{% if user.is_authenticated and user.user_type.user_type == "superadmin"%}                                          <!-- 型でしょ-->
						<li class="nav-item">
							<a class="nav-link" href="{% url 'PBSystem:admin_user_list_list'%}?usertype=admin">Admin List</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="{% url 'PBSystem:admin_user_list_list'%}?usertype=user">User List</a>
						</li>
						
					{% endif %}
				</ul>

				<ul class="navbar-nav">
					<!-- 右にメニューを出すとき -->
					{% if user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'accounts:user_detail' user.pk %}">User Info</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="{% url 'accounts:user_update' user.pk %}">User Info Update</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="{% url 'logout'%}">Log Out</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'login'%}">Log In</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>

		<div class="content container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>








