h1 a, h2 a {
	color:#000000;
}

.header {
	background-color:#d9d9d9;
	width: 100%;
	padding: 20px, 20px, 20px, 40px; 
}


html {
	font-size: 80%;
}

body {
	font-size: 1.4rem;
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.header h1, .header h1 a, .header h1 a:visited, .header h1 a:active { 
	color: #000000;
	font-size: 36pt;
	text-decoration: none;
} 

.header h2, .header h2 a, .header h2 a:visited, .header h2 a:active { 
	color: #000000;
	font-size: 23pt;
	text-decoration: none;
} 